@import "tailwindcss";

.main-navbar {
  background-color: rgb(45, 33, 59);
}
.main-navbar a {
  color: white !important;
}
.main-navbar a:hover {
  color: white;
}

nav ul li .nav-link {
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out 0s;
  color: white !important;
}

.nav-link:hover {
  transition: all 0.4s ease-in-out 0s;
  color: white !important;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: white;
  transition: width 0.3s ease 0s;
}
.nav-link:focus,
.nav-link:active {
  color: white !important;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s ease 0s;
}
.home_section {
  width: 50%;

  padding: 20px;
  margin: 20px auto;
  background-color: aliceblue;
  border-radius: 20px;
}

.home_section h2 {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
.home_section p {
}
.home_section:hover {
  background-color: rgb(238, 255, 255);
}

/* Home-Coding Article */
.home-article {
  padding: 20px;
  margin: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
}
.home-article .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.left-side-home-article {
  padding: 20px;
  justify-items: center;
}
.right-side-home-article {
  padding: 20px;
  justify-items: center;
  padding: 30px;
}
.right-side-home-article h3 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.spinner_center {
  text-align: center;
}
.spinner_div {
  margin: 20px;
}
.home-article img {
  width: 300px;
  border-radius: 20px;
}
.home-article > h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
