@import "tailwindcss";
:root {
  --main_color: #34353a;
  --second_color: #33243f;
  --Third_color: #6c448c;
}
body {
  background-color: #34353a !important;
}
.main-navbar {
  background-color: #33243f;
}
.main-navbar a {
  color: white !important;
}
.main-navbar a:hover {
  color: white;
}

nav ul li .nav-link {
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out 0s;
  color: white !important;
}

.nav-link:hover {
  transition: all 0.4s ease-in-out 0s;
  color: white !important;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: white;
  transition: width 0.3s ease 0s;
}
.nav-link:focus,
.nav-link:active {
  color: white !important;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s ease 0s;
}
.home_section {
  width: 50%;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
  transition: 1s;
}

.home_section h2 {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
.home_section p {
}
.home_section:hover {
  transition: 1s;
  background-color: var(--second_color);
  color: white;
}

/* Home-Coding Article */
.home-article {
  padding: 20px;
  margin: 20px;
  color: white;
  background-color: var(--Third_color);
  border-radius: 20px;
}
.left-side-home-article img {
  width: 100%;
  border-radius: 20px;
}
.right-side-home-article {
  border: 2px solid white;
  border-radius: 20px;
  margin: 10px;
}
.right-side-home-article h3 {
  font-size: 30px;
}
.right-side-home-article p {
  font-size: 20px;
  font-weight: bold;
}
.home-article .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.left-side-home-article {
  padding: 20px;
  justify-items: center;
}
.right-side-home-article {
  padding: 20px;
  justify-items: center;
  padding: 30px;
}
.right-side-home-article h3 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.spinner_center {
  text-align: center;
}
.spinner_div {
  margin: 20px;
}

.home-article > h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.card-click {
  cursor: pointer;
  margin: 10px;
}
.card-click .card-title {
  height: 70px;
  text-align: center;
}
.card-click:hover {
  box-shadow: -6px -2px 22px 0px rgba(47, 33, 58, 0.48);
  -webkit-box-shadow: -6px -2px 22px 0px rgba(47, 33, 58, 0.48);
  -moz-box-shadow: -6px -2px 22px 0px rgba(47, 33, 58, 0.48);
}

.login-form-wrapper:hover {
  box-shadow: -6px -2px 22px 0px rgba(255, 255, 255, 0.48);
  -webkit-box-shadow: -6px -2px 22px 0px rgba(255, 255, 255, 0.48);
  -moz-box-shadow: -6px -2px 22px 0px rgba(255, 255, 255, 0.48);
}
.login-section {
  background-color: #1e1e2f; /* Dark background */
  min-height: 100vh;
  padding: 0;
}

.login-form-wrapper {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.singleArticleImg {
  display: flex;
  justify-content: center;
}
.singleArticleImg img {
  width: 70%;
  border-radius: 20px;
}
.singaleArticle {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Article Page
*/
.Article_page {
  padding: 20px 0px 0px 0px;
}
.Article_page > h3 {
  color: white;
  text-align: center;
  font-size: 35px;
}
button {
  border: white !important;
  transition: 1s;
  background-color: var(--second_color) !important;
}
button:hover button:active button:focus {
  transition: 1s;
  background-color: var(--Third_color) !important;
}
.singaleArticle {
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0px;
}
.singleArticleImg {
}
#transparent-table {
  background-color: var(--Third_color) !important;
  border-collapse: collapse;
}

#transparent-table tr,
#transparent-table td {
  background-color: transparent !important;
  border: 1px solid var(--main_color);

  color: white;
}
.Article_detail_page {
  color: white;
}
.Article_detail_page img {
  width: 60%;
  border-radius: 30px;

  margin: 20px auto;
}
.btns-section button {
  margin: 10px;
}
.Comments-section {
}
.Comments-section .comment_card {
  background-color: var(--second_color);
  color: white;
  margin: 10px 0px;
}
.blockquote-footer {
  color: antiquewhite !important;
}
.form-btns Button {
  margin: 10px;
}

.comment-btn {
  color: WHITE;
  background-color: var(--Third_color) !important;
  width: 3%;
  border-radius: 50px !important;
  position: absolute;
  right: -16px;
  top: -16px;
}
.comment_card {
  position: relative;
}
.Heading_topic {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 20px;
}
.topiccard-click {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
.topiccard-click .card {
  background-color: var(--second_color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  text-align: center;
  transition: 1s;
}
.topiccard-click .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topiccard-click .card:hover {
  background-color: var(--Third_color);
  transition: 1s all ease;
}
